<div *ngIf="bacdisplay">
  <img src="../assets/eventnew.jpg" alt="" id="backgroundimage">
  <img src="../assets/LOGO-1.jpg" alt="" id="logoimage">
  <h1>SRK EVENT</h1>
  <h2>MANAGEMENT</h2>
  <img src="../assets/hamburger.png" id="menubar">
</div>
<div *ngIf="display">
  <app-home></app-home>
</div>
<!-- <div class="scroller">
  <app-menudisplaying></app-menudisplaying>
</div> -->
<div>
  <app-menushow></app-menushow>
</div>
<!-- <div class="container">
  <carousel [slides]="slides"></carousel>
</div> -->