<div class="card-deck" id="showcase">
    <div class="card bg-dark">
        <img src="../../assets/cancelred.png" alt="" id="cancelred">
        <div id="menuvalues">
            <div id="menubarval">
                <div class="p-3 mb-2 bg-success text-white">Home</div>
                <div class="p-3 mb-2 bg-success text-white">About Us</div>
                <div class="p-3 mb-2 bg-success text-white">Event Manpower</div>
                <div class="p-3 mb-2 bg-success text-white">Catering Service</div>
                <div class="p-3 mb-2 bg-success text-white">Digital Advertising</div>
                <div class="p-3 mb-2 bg-success text-white">Ballon Decoration</div>
                <div class="p-3 mb-2 bg-success text-white">Birthday Event</div>
                <div class="p-3 mb-2 bg-success text-white">Wedding Event</div>
                <div class="p-3 mb-2 bg-success text-white">Corporate Event</div>
                <div class="p-3 mb-2 bg-success text-white">Bridal Makeup</div>
            </div>
        </div>
    </div>
</div>